

header {
    font-size: 60px;
    font-weight: 60;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    
    padding: 30px;
     
 
}
  footer{
    font-size: 20px;
    font-weight: 60;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    text-align: center;
    padding: 10px;
    margin-top: 50px;
     
  }
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: red;
}
.button-container button {
    color: green;
  }
  
.getButton {
    padding: 8px 16px;
    border-radius: 44px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
  }
  
  .getButton:hover {
    background-color: #1976d2;
  }
 
  .addteambutton:hover{
    background-color: #1976d2;
  }
  .addteambutton {
    transition: all 0.2s ease-in-out;
    
    font-weight: bold;
    padding: 10px 20px;
    
  }
  .add{
    display: flex;
  flex-direction: column;
  align-items: center;
  }
 
  td{
    border:2px solid black;
  }
  th {
    background-color: purple;
    color:green;
    text-align: center;
    border: 3px solid greenyellow;
  }
  tr{
    color: #1976d2;
    text-align: center;
    border: 3px solid green;
  }
  .table {
    margin-top: 20px;
    
  }
  .example-button-row{
    margin-top: 10px;
  }
  

  
  
  
  

  
  
 
  